// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons';

// .ms_red {
//     color: rgb(249 50 44);
// }

.post-block {
    & .action-box{
        z-index: -1;
        position: relative;
    }
    &:hover {
        & .action-box {
            z-index: 0;
        }
    }
}